.contact {
  padding: 10% 20%;
}
.page-container {
  min-height: 89vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
@media screen and (max-width: 800px) {
  .contact {
    padding: 40px 20px;
  }
}
