* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  flex-direction: column;
  text-align: center;
}

.navBar {
  display: flex;
  margin: 10px 0px 15px 0px;
}
.navBar li {
  list-style: none;
}
.navBar a {
  font-size: 15px;
  text-decoration: inherit;
  color: white;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
}
.navBar a:hover {
  text-decoration: revert;
}
.logo {
  color: inherit;
  text-decoration: inherit;
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-weight: 400;
}
.headerLogo {
  margin: 10px 0px;
}
.headerText {
  padding: 3px;
  font-size: 17px;
  background-color: rgb(74, 74, 74);
  color: rgb(255, 255, 255);
}
.active {
  text-decoration: revert !important;
}
.hamburgerNav {
  display: none;
}
@media screen and (max-width: 600px) {
  .navBar {
    display: none;
  }
  .hamburgerOpen {
    display: block;
  }
  .hamburgerNav {
    display: block;
  }
  .hamburgerIcon {
    font-size: 35px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-container ul li {
  list-style: none;
  padding: 10px;
}
.menu-container a {
  text-decoration: none;
  color: white;
  padding: 20px;
  text-transform: uppercase;
}
.menu-container .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
}
